<div class="p-4 border rounded md:w-[30em] mx-auto mt-4 flex flex-col bg-gray-200">
    <h2 class="text-center text-blue-400 text-2xl "><%=heading%> </h2>
  <%= simple_form_for note do |f| %>
    <%= f.input :title, 
        autofocus: true,
        label_html: { class: "block text-gray-700 font-medium mb-1" },
        input_html: { class: "block w-full border rounded mb-4 p-2" } %>
        
    <%= f.input :content, 
        as: :text, 
        wrapper_html: { class: "mb-4" }, 
        input_html: { class: "block w-full border rounded p-2" },
        label_html: { class: "block text-gray-700 font-medium mb-1" } %>
        
    <%= f.submit "Save", 
        class: "w-full border border-blue-600 p-2 rounded hover:bg-blue-500 hover:text-white" %>
  <% end %>
</div>